@font-face {
  font-family: ProtestRiot-Regular;
  src: url(../fonts/ProtestRiot-Regular.ttf) format("truetype");
}

/* global style */
:root {
  --active-color: #a03a6f;
  --background-color-light: #FFF7F1;
  --background-color-dark: #BED1CF;
  --text-color: #a16505;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--background-color-light);
  font-family: "ProtestRiot-Regular", sans-serif;
}

ul, ol {
  list-style: none;
}

/* styles for all pages*/
.container {
  margin: 0 auto;
  max-width: 480px;
}

.section {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .section {
    padding: 60px 0;
  }
}

/* Main Page */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-dark);
  padding: 20px 0;
}

.header__img {
  width: 160px;
  height: 160px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 2px solid var(--active-color);
  box-shadow: var(--background-color-light) 0px 7px 29px 0px;
}

.nav__links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav__link {
  font-size: 1.2rem;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.nav__link:focus,
.nav__link:hover {
  color: var(--active-color);
  font-weight: 700;
  text-shadow: var(--background-color-light) 2px 2px;
}

.hero {
  margin: 0 10px;
  padding-bottom: 0;
}

.hero__title {
  color: var(--active-color);
  font-size: 2.9rem;
  text-align: center;
  padding: 10px;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.quote {
  justify-content: center;
  background-color: var(--background-color-dark);
  padding: 20px;
  margin: 0 10px;
  max-width: 500px;
  border-radius: 20px 0 20px 0;
}

.quote__header {
  display: none;
}

.quote-block {
  display: flex;
  flex-direction: column;
}

.quote-block__text {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.quote-block__footer {
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: 100;
  color: var(--text-color);
}

.footer {
  background-color: var(--background-color-dark);
  width: 100%;
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
  font-weight: lighter;
  color: var(--active-color);
  padding: 5px 0;
}

.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: var(--background-color-light);
  border: 3px solid var(--text-color);
  border-radius: 50px;
  margin: 0 15px 15px 0;
  padding: 4px 0;
  transition: background-color 0.3s;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
  cursor: pointer;
  background-color: var(--background-color-dark);
  border: 3px solid var(--active-color);
}

.scroll-to-top__icon:focus,
.scroll-to-top__icon:hover {
   fill: var(--active-color);
}

.scroll-to-top__icon {
  width: 30px;
  height: 25px;
  fill: var(--text-color);
}

@media (min-width: 768px) {
  .hero {
    margin: 0;
  }

  .header {
    padding: 30px 0;
  }

  .header__img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid var(--active-color);
  }

  .nav__links {
    gap: 20px;
  }

  .nav__link {
    font-size: 1.5rem;
  }

  .hero__title {
    font-size: 3.2rem;
    border-top: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
    padding: 20px;
    width: 490px;
    margin: 0 auto;
  }

  .quote {
    max-width: 650px;
    padding: 30px;
    border-radius: 30px 0 30px 0;
    margin: 0;
  }

  .quote-block__text {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .quote-block__footer {
    font-size: 1rem;
  }

  .copyright {
    font-size: 1rem;
    font-weight: 100;
    padding: 10px 0;
  }

  .scroll-to-top {
    margin: 0 20px 25px 0;
  }
}

@media (min-width: 1200px) {
  .header__img {
    width: 300px;
    height: 300px;
    border: 4px solid var(--active-color);
    margin-bottom: 20px;
  }

  .nav__links {
    gap: 25px;
  }

  .nav__link {
    font-size: 1.8rem;
  }

  .hero__title {
    font-size: 3.5rem;
    width: 560px;
    border-top: 4px solid var(--text-color);
    border-bottom: 4px solid var(--text-color);
    padding: 30px;
  }

  .quote {
    max-width: 800px;
    padding: 40px;
    border-radius: 40px 0 40px 0;
  }

  .quote-block__text {
    font-size: 1.8rem;
  }

  .quote-block__footer {
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 1.2rem;
    font-weight: 100;
    padding: 15px 0;
  }

  .scroll-to-top {
    margin: 0 25px 35px 0;
  }
}

/* Hobbies Page */
.top-hobbies {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.top-hobbies__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 20px 0 10px;
  color: var(--text-color);
  text-shadow: var(--background-color-dark) 2px -1px 5px;
}

.hobbies__link {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--active-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.hobbies__hobby:not(:last-child) {
  margin-bottom: 5px;
}

.hobbies__title:focus *,
.hobbies__title:hover * {
  color: var(--active-color);
  font-weight: 700;
  text-shadow: var(--background-color-dark) 2px -1px 5px;
}

@media (min-width: 768px) {
  .top-hobbies {
    margin: 0;
  }

  .top-hobbies__title {
    font-size: 1.8rem;
    margin: 25px 0 15px;
  }

  .hobbies__link {
    font-size: 1.5rem;
  }

  .hobbies__hobby:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .top-hobbies__title {
    font-size: 2.2rem;
    margin: 30px 0 20px;
  }

  .hobbies__link {
    font-size: 1.8rem;
  }

  .hobbies__hobby:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Each hobby Page */
.favourite-hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin: 20px 0;
}

.favourite-hobby__title {
  color: var(--active-color);
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  margin-bottom: 20px;
}

.favourite-hobby__text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;

}

.favourite-hobby__line {
  border: 1px solid var(--active-color);
  width: 100%;
  margin: 15px 0;
}

.favourite-hobby__img {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

@media (min-width: 425px) {
  .favourite-hobby__img {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .favourite-hobby {
    padding: 0 10%;
    margin: 30px 0;
  }

  .favourite-hobby__title {
    font-size: 2.5rem;
    padding: 20px;
    border-top: 3px solid var(--text-color);
    border-bottom: 3px solid var(--text-color);
    margin-bottom: 30px;
  }

  .favourite-hobby__text {
    font-size: 1.2rem;
  }

  .favourite-hobby__line {
    border: 2px solid var(--active-color);
    margin: 25px 0;
  }

  .favourite-hobby__img {
    width: 550px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .favourite-hobby {
    padding: 0 15%;
    margin: 40px 0;
  }

  .favourite-hobby__title {
    font-size: 3rem;
    padding: 30px;
    border-top: 4px solid var(--text-color);
    border-bottom: 4px solid var(--text-color);
    margin-bottom: 40px;
  }

  .favourite-hobby__text {
    font-size: 1.5rem;
  }

  .favourite-hobby__line {
    border: 3px solid var(--active-color);
    margin: 35px 0;
  }

  .favourite-hobby__img {
    width: 750px;
    margin-top: 40px;
  }
}